<div class="bulk-pricing-management">
    <p-table [value]="products" dataKey="id" editMode="row" class="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Product Name <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="bulkPrice">Bulk Price <p-sortIcon field="bulkPrice"></p-sortIcon></th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-editing="editing">
        <tr [pEditableRow]="product">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText [(ngModel)]="product.name" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.name }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="number" [(ngModel)]="product.bulkPrice" />
   
  