<div class="login-wrapper">
  <div class="login-card animate-card">
    <h2 class="login-title">Welcome Back!</h2>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Enter your username"
      />
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        <span class="error">Username is required.</span>
      </div>

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <span class="error">Password is required.</span>
      </div>

      <label for="role">Role</label>
      <select >
        <option value="Admin">Admin</option>
        <option value="User">User</option>
      </select>

      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
</div>
